# Node
node_modules/
npm-debug.log
yarn-error.log

# Python (Django backend)
__pycache__/
*.pyc
*.pyo
*.pyd
db.sqlite3
.env
# Python Virtual Environment
venv/
venv*/
backend/venv312/


# VSCode/IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db


credentials.json
*.env
